/* Issue Item */

.issueItemAccordian{
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: var(--card-background);
}

.issueItemAccordian:last-child{
    margin-bottom: 20px;
}

.issueItemAccordian summary{
    position: relative;
    padding: 0 20px 0 15px;
    cursor: pointer;
    
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-weight: 600;

}

.issueItemAccordian[open] summary{
    border-bottom: 1px solid var(--border-color);
}

.issueItemAccordian summary svg{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.1s;
    scale: 1.15;
}

.issueItemAccordian[open] summary svg{
    transform: rotateZ(90deg);
}

.issueItemAccordian h4:last-child {
    margin-bottom: 0;
}
