.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
}

.card > .heading{
    margin: 0;
}

.card.sm{
    width: 12.5rem;
    min-height: 10rem;
}

.card.md {
    width: 20rem;
    min-height: 12.5rem;
}

.card.lg {
    width: 25rem;
    min-height: 15rem;
}
