/* App Styles */

:root, .light {
  --header-height: 50px;
  --header-padding: 15px;
  --border-radius: 7.5px;
  --background: #eaecf1;
  --foreground: #010101;
  --border-color: #cdcdcd;
  --control-border-color: #cdcdcd;
  --header-background: #0d0d0d;
  --nav-panel-background: #d8dce6;
  --theme-color: #00457d;

  --card-background: rgba(255, 255, 255, 0.5);
  --select-background: rgba(255, 255, 255, 0.5);
  --button-overlay: rgba(255, 255, 255, 0.5);
  --control-overlay-bg: rgba(255, 255, 255, 0.5);
}

:root.dark, .dark {
  --background: rgb(7, 7, 12);
  --foreground: #FEFEFE;
  --border-color: #3939397d;
  --control-border-color: #2e2e2e;
  --header-background: rgb(0, 0, 8);
  --nav-panel-background: rgb(0, 0, 8);
  --theme-color: #00457d;

  --card-background: rgba(255, 255, 255, 0.075);
  --select-background: rgba(255, 255, 255, 0.1);
  --button-overlay: rgba(255, 255, 255, 0.075);
  --control-overlay-bg: rgba(255, 255, 255, 0.075);
}

* {
  color: inherit;
  font-family: Inter;
}

a {
  text-decoration: none;
  color: #0062ff;
}

a:hover>* {
  text-decoration: underline;
}

input[type=text],
input[type=email],
input[type=password] {
  box-sizing: border-box;
  height: 35px;
  background-color: var(--select-background);
  border: 1px solid var(--control-border-color);
  border-radius: var(--border-radius);
  padding: 2.5px 10px;
  min-width: 200px;
  width: 100%;
  max-height: 400px;
  font-family: inherit;
}

input[type=text]:read-only,
input[type=email]:read-only,
input[type=password]:read-only {
  opacity: 0.9;
  cursor: not-allowed;
  outline: none;
}

button,
input[type=submit],
input[type=reset] {
  box-sizing: border-box;
  font-family: inherit;
  height: 35px;
  width: min-content;
  padding: 5px 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;

  border: 1px solid transparent;
  border-radius: var(--border-radius);
  color: var(--foreground);
  font-weight: 500;
  border: 1px solid var(--control-border-color);
  background: var(--button-overlay);
  cursor: pointer;
}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover{
  background: rgba(125, 125, 125, 0.2);
}

select {
  position: relative;
  appearance: none;
  height: 30px;
  border-radius: var(--border-radius);
  padding-left: 10px;
  padding-right: 30px;
  border: 1px solid var(--control-border-color);
  font-family: inherit;
  background-color: var(--select-background);
  background-image: url('./assets/ChevronDownBlack.svg');
  background-size: 16px 16px;
  background-position: calc(100% - 7px) 7px;
  background-repeat: no-repeat;
}

option {
  color: initial;
}

.dark select {
  background-image: url('./assets/ChevronDownWhite.svg');
}

hr {
  appearance: none;
  height: 1px;
  background: var(--border-color);
  border: none;
  width: 100%;
}

pre,
code,
div.preBlock {
  /* width: 100%; */
  background: var(--control-overlay-bg);
  padding: 5px;
  margin: 5px;
  overflow-x: auto;
  border-radius: var(--border-radius);
  font-family: 'Roboto Mono', monospace;
  white-space: pre;
  font-weight: 400;
}

div.preBlock * {
  font-family: inherit;
}

div.preBlock {
  display: flex;
  gap: 10px;
}

span.preBlockLineNumber {
  opacity: 0.75;
  /* padding: 0 10px; */
  padding-left: 5px;
  font-family: 'Roboto Mono', monospace;
}

span.letter-avatar{
  text-decoration: none !important;
  flex-shrink: 0;
}

.App {
  height: 100vh;
  max-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-size: 0.9rem;

  transition: all linear 0.1s;
}

.sideBarLink {
  box-sizing: border-box;
  height: 40px;
  padding: 0 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  border: 1px solid transparent;
  border-radius: var(--border-radius);
  color: inherit;
  font-weight: 500;

  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sideBarLink.active,
.sideBarLink:hover {
  border: 1px solid var(--control-border-color);
  background: var(--control-overlay-bg);
}

.dark .sideBarLink {
  border: 1px solid transparent;
}

.sideBarLink>svg {
  height: 20px;
  width: 20px;
}

.linkButton {
  box-sizing: border-box;
  height: 35px;
  width: min-content;
  padding: 5px 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;

  border: 1px solid transparent;
  border-radius: var(--border-radius);
  color: var(--foreground);
  font-weight: 500;
  border: 1px solid var(--control-border-color);
  background: var(--button-overlay);
}

.linkButton:hover {
  text-decoration: none;
  background: var(--select-background);
}

.buttonBase {
  border-radius: var(--border-radius);
  border: none;
  height: 32px;
  aspect-ratio: 1;
  font-size: 1.25rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all linear 0.1s;
}

.buttonBase:hover {
  background: rgba(125, 125, 125, 0.2);
}

.headerButton {
  position: relative;
  overflow-y: visible;
}

.headerButtonDropdownSummary {
  box-sizing: border-box;
  height: 30px;
  min-width: 30px;
  /* padding: 0 10px; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border: 1px solid transparent;
  border-radius: var(--border-radius);
  color: inherit;
  font-weight: 500;
  font-size: 1.15rem;

  cursor: pointer;
}

.headerButtonDropdownSummary:hover {
  /* background: rgba(125, 125, 125, 0.2); */
  text-decoration: none;
}

.headerButtonDropdownSummary svg {
  height: 20px;
  width: 20px;
}

.headerButtonDropDown {
  z-index: 15;
  position: absolute;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  border-radius: calc(var(--border-radius) + 5px);
  border: 1px solid var(--border-color);
  background: var(--background);

  top: calc(100% + 0px);
  min-width: 100%;
  color: var(--foreground);
  font-size: 0.9rem;
}

.headerButtonDropDown .sideBarLink {
  height: 30px;
}

.headerButtonDropDown.show {
  display: flex;
}

.projectTitle {
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 50px;
  max-width: 200px;
  gap: 10px;
}

.projectTitle .projectID {
  color: inherit;
  opacity: 0.25;
}

.appPanel {
  background: var(--card-background);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);

  box-sizing: border-box;
  padding: 20px;
}

.listItem {
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 30px;
  gap: 15px;
  font-weight: 500;

  background: var(--card-background);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  color: var(--foreground);
}

.initialsCircle {
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  background: rgba(125, 125, 125, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.themeButton {
  background: var(--theme-color) !important;
  color: white !important;
}

.themeButton:hover {
  background: var(--theme-color) !important;

  filter: brightness(125%);
}

#user_avatar_data_label{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

#user_avatar_data_label * {
  cursor: pointer;
}

#user_avatar_data_label > label{
  position: relative;
  transition: filter 0.1s linear;
  display: block;
  width: min-content;
}

#user_avatar_data_label > label .hoverIcon{
  position: absolute;
  font-size: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255,255,255);
  opacity: 0;
  transition: opacity 0.1s linear;
  z-index: 99;
}

#user_avatar_data_label:hover > label > *:not(.hoverIcon){
  filter: brightness(50%);
}

#user_avatar_data_label:hover > label .hoverIcon{
  opacity: 0.75;
}