/* App Styles */

:root {
  --centered-content-width: clamp(50%, 750px, 100%);
  --centered-wide-content-width: clamp(50%, 900px, 100%);
  --centered-content-margin: 0 auto;

  --control-inline-height: 35px;

  --header-height: 50px;
  --header-padding: 15px;
  --border-radius: 7.5px;
  --button-border-radius: 7.5px;
  --button-height: 35px;
  
  --overlay-blur: 5px;

  --page-padding-x: 35px;
  --page-padding-y: 25px;
  --page-title-content-gap: 20px;

  --theme-color: #5f3bfe;
}

:root, .light {
  --background: #edf1f5;
  --button-overlay: rgba(255, 255, 255, 0.75);
  --button-overlay-hover: rgba(255, 255, 255, 0.95);
  --overlay-background: rgba(255, 255, 255, 0.75);
  --nav-panel-background: var(--overlay-background);
  --foreground: #010101;
  --border-color: #dddddd;
  --border-color-dark: #929292;
  --control-border-color: #cdcdcd;

  --card-background: var(--button-overlay);
  --card-background-hover: var(--button-overlay-hover);
  --select-background: rgba(255, 255, 255, 0.5);
  --control-overlay-bg: rgba(181, 181, 181, 0.15);
  --control-active-overlay-bg: rgba(255, 255, 255, 0.5);
  --text-highlight-color: rgb(255, 255, 0);

  --link-color: var(--theme-color);
  
  --icon-shadow: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.5));
  
  --panel-shadow-filter: drop-shadow(0px 2px 20px rgba(0,0,0,0.15));
}

:root.dark, .dark {
  --background: rgb(12, 12, 18);
  --overlay-background: rgba(17, 17, 22, 0.75);
  --foreground: #FEFEFE;
  --border-color: #3939397d;
  --border-color-dark: #7b7b7bcd;
  --control-border-color: #3b3b3b;
  --nav-panel-background: rgb(22, 22, 30);

  --card-background: rgba(255, 255, 255, 0.075);
  --select-background: rgba(255, 255, 255, 0.1);
  --button-overlay: rgba(255, 255, 255, 0.075);
  --button-overlay-hover: rgba(255, 255, 255, 0.15);
  --control-overlay-bg: rgba(255, 255, 255, 0.05);
  --control-active-overlay-bg: rgba(255, 255, 255, 0.075);
  --text-highlight-color: rgba(255, 255, 0, 0.5);

  --link-color: var(--theme-color);
  
  --icon-shadow: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.9));
  
  --panel-shadow-filter: drop-shadow(0px 2px 20px rgba(0,0,0,0.5));
}

* {
  color: inherit;
}

p{
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover, a:hover * {
  text-decoration: underline;
}

input[type=text],
input[type=email],
input[type=password] {
  box-sizing: border-box;
  height: 30px;
  background-color: var(--select-background);
  border: 1px solid var(--control-border-color);
  border-radius: var(--border-radius);
  padding: 2.5px 10px;
  min-width: 200px;
  width: 100%;
  max-height: 400px;
  font-family: inherit;
}

input[type=text]:read-only,
input[type=email]:read-only,
input[type=password]:read-only {
  opacity: 0.9;
  cursor: not-allowed;
  outline: none;
}

button,
.linkButton,
input[type=submit],
input[type=reset] {
  box-sizing: border-box;
  font-family: inherit;
  height: var(--button-height);
  padding: 0px 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;

  border: 1px solid transparent;
  border-radius: var(--button-border-radius);
  color: var(--foreground);
  font-weight: 500;
  border: 1px solid var(--control-border-color);
  background: var(--button-overlay);
  cursor: pointer;
}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover{
  background: rgba(125, 125, 125, 0.2);
}

select {
  position: relative;
  appearance: none;
  height: 30px;
  border-radius: var(--border-radius);
  padding-left: 10px;
  padding-right: 30px;
  border: 1px solid var(--control-border-color);
  font-family: inherit;
  background-color: var(--select-background);
  background-image: url('./assets/ChevronDownBlack.svg');
  background-size: 16px 16px;
  background-position: calc(100% - 7px) 7px;
  background-repeat: no-repeat;
}

option {
  color: initial;
}

.dark select {
  background-image: url('./assets/ChevronDownWhite.svg');
}

hr {
  appearance: none;
  height: 1px;
  background: var(--border-color);
  border: none;
  width: 100%;
}

.monospace {
  font-family: 'Roboto Mono', monospace;
}

pre,
code,
div.preBlock {
  box-sizing: border-box;
  background: var(--control-overlay-bg);
  padding: 5px;
  overflow: auto;
  border-radius: var(--border-radius);
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

div.preBlock * {
  font-family: inherit;
}

div.preBlock {
  display: inline-flex;
  gap: 10px;
}

.codeHighlight{
  position: relative;
  display: inline-block;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  background: var(--text-highlight-color);
}

span.preBlockLineNumber {
  box-sizing: border-box;
  opacity: 0.75;
  /* padding: 0 10px; */
  padding-left: 5px;
  font-family: 'Roboto Mono', monospace;
}

span.letter-avatar{
  text-decoration: none !important;
  flex-shrink: 0;
}

.App {
  height: 100vh;
  max-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-size: 1rem;

  transition: all linear 0.1s;
}

.sideBarLink {
  box-sizing: border-box;
  height: var(--control-inline-height);
  padding: 0 7.5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  border: 1px solid transparent;
  border-radius: var(--button-border-radius);
  color: inherit;
  font-weight: 500;

  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sideBarLink::before {
  content: '';
  display: block;
  width: 4px;
  height: calc(75% - 2px);
  border-radius: 2px;
  background-color: transparent;
}

.sideBarLink:hover {
  background: var(--control-active-overlay-bg);
}

.sideBarLink:hover::before {
  content: '';
  display: block;
  width: 4px;
  height: calc(75% - 2px);
  border-radius: 2px;
  background-color: rgba(150, 150, 150, 0.5);
}

.sideBarLink.active{
  border: 1px solid var(--control-border-color);
  background: var(--control-overlay-bg);
}

.sideBarLink.active::before {
  content: '';
  display: block;
  width: 4px;
  height: calc(75% - 2px);
  border-radius: 2px;
  background-color: var(--theme-color);
}

.sideBarLink>svg {
  height: 20px;
  width: 20px;
}

.linkButton {
  border: 1px solid transparent;
  border-radius: var(--button-border-radius);
  color: var(--foreground);
  font-weight: 500;
  border: 1px solid var(--control-border-color);
  background: var(--button-overlay);
}

.linkButton:hover {
  text-decoration: none;
  background: var(--select-background);
}

.buttonBase {
  box-sizing: border-box;
  border-radius: var(--button-border-radius);
  border: none;
  height: var(--button-height);
  aspect-ratio: 1;
  font-size: 1rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all linear 0.1s;
  color: var(--foreground) !important;
  text-decoration: none;
}

.buttonBase > svg{
  min-width: 1em;
  max-width: 1em;
  width:     1em;
  height:    1em;
}

.buttonBase:hover{
  background: rgba(125,125,125,0.2);
}

.buttonBase.open{
  background: rgba(125, 125, 125, 0.2);
}

.iconButton {
  padding: 0;
  align-items: center;
  font-size: 1.1rem;
}

.headerButton {
  position: relative;
  overflow-y: visible;
}

.headerButtonDropdownSummary {
  box-sizing: border-box;
  height: var(--button-height);
  min-width: var(--button-height);
  /* padding: 0 10px; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border: 1px solid transparent;
  border-radius: var(--button-border-radius);
  color: inherit;
  font-weight: 500;
  font-size: 1.15rem;

  cursor: pointer;
}

.headerButtonDropdownSummary:hover {
  /* background: rgba(125, 125, 125, 0.2); */
  text-decoration: none;
}

.headerButtonDropDown {
  z-index: 15;
  position: absolute;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  border-radius: calc(var(--border-radius));
  border: 1px solid var(--border-color);
  background: var(--background);

  top: calc(100% + 0px);
  min-width: 100%;
  color: var(--foreground);
  font-size: 0.9rem;
}

.headerButtonDropDown .sideBarLink {
  height: 30px;
  border-radius: calc(var(--border-radius) - 2.5px);
  padding: 0 10px;
}

.headerButtonDropDown.show {
  display: flex;
}

.overlayButton {
  border: 1px solid var(--border-color);
  background: var(--button-overlay);
}

.projectTitle {
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 50px;
  max-width: 200px;
  gap: 10px;
}

.projectTitle .projectID {
  color: inherit;
  opacity: 0.25;
}

.appPanel {
  background: var(--card-background);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);

  box-sizing: border-box;
  padding: 20px;
}

.appPanel:hover{
  background: var(--card-background-hover);
}

.listItem {
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 30px;
  gap: 15px;
  font-weight: 500;

  background: var(--card-background);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  color: var(--foreground);
}

.initialsCircle {
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  background: rgba(125, 125, 125, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.themeButton {
  background: var(--theme-color) !important;
  color: white !important;
}

.themeButton:hover {
  background: var(--theme-color) !important;

  filter: brightness(125%);
}

#user_avatar_data_label{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  cursor: pointer;
}

#user_avatar_data_label * {
  cursor: pointer;
}

#user_avatar_data_label > label{
  position: relative;
  transition: filter 0.1s linear;
  display: block;
  width: min-content;
}

#user_avatar_data_label > label .hoverIcon{
  position: absolute;
  font-size: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255,255,255);
  opacity: 0;
  transition: opacity 0.1s linear;
  z-index: 99;
}

#user_avatar_data_label:hover > label > *:not(.hoverIcon){
  filter: brightness(50%);
}

#user_avatar_data_label:hover > label .hoverIcon{
  opacity: 0.75;
}