.apexcharts-canvas > svg {
    background: transparent !important;
    filter: drop-shadow(5px 5px 10px rgba(50, 50, 50, 0.25));
}

.apexchartsissues-count > svg path {
    stroke-width: 0;
}

.apexcharts-datalabels-group text:nth-child(2){
    font-weight: 600 !important;
}